{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block content %}


    <div class="form-block mx-auto">
        <div class="text-center mb-5">
            <h3 class="text-uppercase">{% trans 'Login' %}</h3>
              </div>
              <form method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ next }}" />
                <div class="form-group first">
                  <label for="username">{% trans 'Username' %}</label>
                  <input name="username" type="text" class="form-control" placeholder="your-email@gmail.com" id="username">
                </div>
                <div class="form-group last mb-3">
                  <label for="password">{% trans 'Password' %}</label>
                  <input name="password" type="password" class="form-control" placeholder="Your Password" id="password">
                </div>

                <div class="d-sm-flex mb-5 align-items-center">
                  <label class="control control--checkbox mb-3 mb-sm-0"><span class="caption">{% trans 'Remember me' %}</span>
                    <input type="checkbox" checked="checked"/>
                    <div class="control__indicator"></div>
                  </label>
                  <span class="ml-auto"><a href="{% url 'auth_password_reset' %}" class="forgot-pass">{% trans 'Forgot Password' %}</a></span>
                </div>
                <div class="row">

                 <div class="col-4">
                        <a href="{% url 'registration_register' %}">
                            <button type="button" class='btn btn-info w-100'>{% trans 'Sign Up' %}</button>
                        </a>
                    </div>
                    <div class="col-8">
                     <input type="submit" value="Sign In" class="btn btn-primary w-100  ">
                    </div>
                </div>
                <span class="text-center my-3 d-block">{% trans 'or' %}</span>


                <div class="">
                <a href="#" class="btn btn-block py-2 btn-facebook">
                  <span class="icon-facebook mr-3"></span> {% trans 'Login with facebook' %}
                </a>
                <a href="#" class="btn btn-block py-2 btn-google"><span class="icon-google mr-3"></span> {% trans 'Login with Google' %}</a>
                </div>
              </form>
            </div>

{% endblock %}