{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    <div class="container mt-5" style="margin-bottom: 100px">
        {% for error in form.non_field_errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <form method="post" action="">
            {% csrf_token %}
            <div class="checkout__input">
                {% for error in form.old_password.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                <p>Old Password<span>*</span></p>
                {{ form.old_password }}
            </div>
            <div class="checkout__input">
                {% for error in form.new_password1.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                <p>New Password<span>*</span></p>
                {{ form.new_password1 }}
            </div>
            <div class="checkout__input">
                {% for error in form.new_password2.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
                <p>Confirm New Password<span>*</span></p>
                {{ form.new_password2 }}
            </div>
            <button class="site-btn float-right">Save</button>
            <a href="{% url 'profile:home' %}">
                <button type="button" class="site-btn float-right mr-3">Back</button>
            </a>
        </form>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
